PUERTO_INTERFAZ=3000
VITE_FRONTEND_PORT=5173
VITE_API_PROXY_TARGET="http://localhost:3000"
ID_SUCURSAL=1
REGION_BANCARIA="Norte"
ID_NODO="Norte-1"
NOMBRE_SUCURSAL="Sucursal Norte 1"
LOCALIDAD_SUCURSAL="Norte"
DB_HOST="100.96.14.33"
DB_USER="postgres"
DB_PASSWORD="umr"
DB_NAME="banco_regional"
DB_PORT=5432
DB_SSL=false
DB_POOL_MAX=10
DB_CONNECTION_TIMEOUT_MS=5000
SESSION_TTL_MINUTES=30
